@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&family=Montserrat:wght@300;400;500&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@400;500;700&display=swap");

:root {
  --clr-primary: #0c1027;
  --clr-blue: #1b265d;
  --clr-lightgrey: lightgray;
  --white: #fff;
  --font-Barlow-Condensed: "Barlow Condensed", sans-serif;
  --font-Montserrat-sans-serif: "Montserrat", sans-serif;
  --font-size-headings: 1.2rem;
  --font-size-song-heading: 0.7rem;
  --font-size-song-subHeading: 0.55rem;
  --font-weight-song-heading: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-primary);
  color: var(--white);
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: grow 300ms;
}

@keyframes grow {
  0% { transform: scale(.2);}
  100% { transform: scale(1);}
}



/* --header-- */

header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  align-items: center;
  height: 5vh;
}

.sangeet {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container-leftSide {
  display: flex;
  margin-left: 4rem;
  align-items: center;
  gap: 4rem;
  font-family: var(--font-Barlow-Condensed);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container p {
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.link-favourites a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

.container-rightSide {
  display: flex;
  margin-right: 4rem;
  margin-left: 2rem;
  align-items: center;
  gap: 2rem;
}

.search-container {
  position: relative;
}

.search-icon,
.microphone-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-icon {
  left: 5px;
  color: rgba(245, 245, 245, 0.849);
  font-size: 0.7rem;
}

.microphone-icon {
  right: 5px;
  color: rgb(144, 144, 144);
  font-size: 15px;
}

.search-field {
  color: white;
  width: 100%;
  height: 4.5vh;
  padding: 0 25px;
  border: none;
  outline: none;
  border-radius: 9px;
  background-color: var(--clr-blue);
}

.bell-icon {
  font-size: 1.2rem;
  position: relative;
}

.bell-dot {
  color: red;
  position: absolute;
  font-size: 2rem;
  bottom: 9px;
  right: 0px;
}

.user-img {
  border-radius: 50%;
}

/* --main-- */

main {
  /* background-color: darkgray; */
  display: flex;
  width: 80%;
  gap: 1.5rem;
  margin: 0 auto;
  height: 75vh;
  overflow-y: hidden;
}

/* for all the headings present main section  */
.main-heading {
  font-family: var(--font-Barlow-Condensed);
  font-size: 1.2rem;
  font-weight: 500;
}

.main-container {
  /* background-color: burlywood; */
  width: 75%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for chrome, safari and opera */
.main-container::-webkit-scrollbar {
  display: none;
}

.slider-wrapper {
  position: relative;
  max-width: 75%;
  margin: 0 auto;
  cursor: pointer;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for chrome, safari and opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  boject-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  box-sizing: content-box;
}

.slider-nav a:hover {
  opacity: 1;
}

/* New-Release-Section */

.top-bottom-margin {
  margin: 2.5rem 0rem;
}

.new-release-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 40%));
  column-gap: 3rem;
  row-gap: 2rem;
  font-family: var(--font-Montserrat-sans-serif);
}

.new-release-items {
  /* background-color: chocolate; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



.new-song-details {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: white;
}

.new-song-details img {
  border-radius: 2px;
  width: clamp(50px, 100%, 100%);
}

.new-song-details p {
  margin: 0.3rem 0;
}

.new-song-name-date p {
  font-weight: bold;
  font-family: var(--font-Montserrat-sans-serif);
  font-size: var(--font-size-song-heading);
}

.new-song-name-date small {
  font-family: var(--font-Montserrat-sans-serif);
  font-size: var(--font-size-song-subHeading);
  color: var(--clr-lightgrey);
}

.song-options-container {
  display: flex;
  flex-direction: column;
  justify-items: end;
  position: relative;
}

.song-options-icon {
  margin-top: -0.5rem;
  text-align: right;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.song-options {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 0.5rem;
  right: 0rem;
  width: 9vw;
}

.song-options-icon:hover + .song-options,
.song-options:hover {
  display: block;
  /* background-color: white; */
  /* top: 50vh; */
  z-index: 1;
}

.song-options hr {
  margin: 0 auto;
  width: 90%;
}

.song-options a {
  text-decoration: none;
  color: black;
}

.song-options a i {
  color: gray;
  padding-right: 0.5rem;
  /* margin-right: .5rem; */
}

.song-options-items {
  /* width: 110%; */
  padding: 0.5rem;
  font-size: clamp(0.2rem, 0.5rem, 0.6rem);
  font-weight: bold;
}

.song-options-items:hover {
  background-color: lightgray;
}

.song-time {
  color: var(--clr-lightgrey);
  font-size: 0.55rem;
  text-align: right;
}

/* Popular Artist section */

.popular-artist-content {
  display: flex;
  gap: 1rem;
}

.popular-artist-items p {
  text-align: center;
  font-family: var(--font-Montserrat-sans-serif);
  font-weight: 500;
  font-size: var(--font-size-song-heading);
}

.popular-image-container {
  position: relative;
}

.popular-artist-image {
  width: 100%;
  border-radius: 50%;
}

/* Stations section */

.station {
  display: flex;
  background-color: var(--clr-blue);
  gap: 1.5rem;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  font-family: var(--font-Montserrat-sans-serif);
}

.station-logo {
  width: 16%;
}

.station-logo img {
  width: 100%;
  transition: 300ms ease-in-out, transform 300ms;
}

.station-logo img:hover {
  transform: scale(1.03);
}

.station-content {
  display: flex;
  width: 75%;
  gap: 1rem;
}

.station-items {
  position: relative;
  text-align: center;
}

.station-image {
  display: block;
  border-radius: 50%;
  width: 100%;
}

.station-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: var(--font-Montserrat-sans-serif);
  font-size: 0.8rem;
}

/* Music Type section */

.musicType-container {
  display: flex;
  width: 95%;
  margin: 3rem auto 0 auto;
  gap: 1rem;
}

.musicType-items {
  transition: 250ms ease-in-out, transform 250ms;
}

.musicType-items:hover {
  transform: scale(1.15);
}

/* latest english and hindi */

.latest-content {
  display: flex;
  gap: 1rem;
  font-family: var(--font-Montserrat-sans-serif);
}

.latest-items {
  position: relative;
}

.latest-items p {
  margin: 0;
  margin-bottom: -0.2rem;
  font-weight: 600;
  font-size: var(--font-size-song-subHeading);
}

.latest-items small {
  font-weight: 400;
  font-size: var(--font-size-song-subHeading);
  color: var(--clr-lightgrey);
}

/* aside/ Queue songs section  */

aside {
  width: 25%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for chrome, safari and opera */
aside::-webkit-scrollbar {
  display: none;
}

.aside-head-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.queue-heading h3, .queue-dropdown h4{
  margin: .5rem 0;
}

.queue-dropdown {
  width: 70%;
  font-family: var(--font-Montserrat-sans-serif);
  position: relative;
}

.queue-sub-heading {
  display: flex;
  align-items: baseline;
  justify-content: right;
  gap: 0.2rem;
  font-size: var(--font-size-song-heading);
  cursor: pointer;
}

.queue-sub-heading:hover + .toggle-list,
.toggle-list:hover {
  display: block;
}

.toggle-list {
  display: none;
  position: absolute;
  background-color: white;
  width: 99%;
  border-radius: 2px;
  font-size: var(--font-size-song-subHeading);
  font-weight: bold;
}

.toggle-list a {
  color: black;
  text-decoration: none;
}

.toggle-list p {
  padding: 0.8rem 1rem;
  margin: 0;
}

.toggle-list p:hover {
  background-color: lightgray;
}

.toggle-list hr {
  width: 95%;
  margin: 0 auto;
}

.aside-content ol {
  padding-inline-start: 0px;
  /* counter-reset: section; */
}

.song-number {
  /* counter-increment: section;
  content: counter(section) "."; */
  width: 10%;
  font-size: 0.6rem;
  font-family: var(--font-Montserrat-sans-serif);
}

.aside-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  font-family: var(--font-Montserrat-sans-serif);
  gap: 1rem;
}

.playlist-image-container {
  position: relative;
  width: 21%;
}

.playlist-backdrop {
  visibility: hidden;
  top: 45%;
  transform: translate(0, -50%);
  position: absolute;
  backdrop-filter: blur(.8px);
  transition: ease-in-out .3s;
  height: 90%;
  width: 100%;
  border-radius: 5px;
  z-index: 1;
}

.artist-playlist-backdrop {
  /* visibility: hidden; */
  background-color: #2de179;
  opacity: .5;
  top: 45%;
  transform: translate(0, -50%);
  position: absolute;
  backdrop-filter: blur(.8px);
  transition: ease-in-out .3s;
  height: 95%;
  width: 70%;
  border-radius: 5px;
  z-index: 1;
}

.playlist-play-icon-effect {
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  z-index: 10;
  color: white;
  
}

.playlist-image-container:hover  .playlist-backdrop {
  visibility: visible;
}

.playlist-backdrop:hover + .playlist-play-icon-effect,
.playlist-play-icon-effect:hover{
  visibility: visible;
}

.latest-image { 
  cursor: pointer;
}


.song-container {
  text-decoration: none;
  color: white;
}

.song-details {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-left: -0.5rem;
}

.song-details img {
  width: clamp(25px, 100%, 100%);
  border-radius: 3px;
}

.song-name {
  font-family: var(--font-Montserrat-sans-serif);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.2rem;
}

.song-name p {
  margin: 0;
  font-family: var(--font-size-song-heading);
  font-size: 0.6rem;
  font-weight: 500;
}

.song-name small {
  font-size: 0.5rem;
  color: var(--clr-lightgrey);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #282828;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
}

.footer-song-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.heart-icon {
  display: flex;
}

.heart-icon a {
  color: lightgrey;
  margin: 0rem 0.2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 80%;
}

.heart-icon i {
  cursor: pointer;
}

.footer-song-img {
  border-radius: 0rem !important;
}

.play-control-container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-Montserrat-sans-serif);
  cursor: pointer;
  justify-content: center;
}

.play-buttons {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  color: lightgrey;
}

.button-play-pause {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
}

.play-icon {
  font-size: 150%;
}

.play-progress-bar-container {
  display: flex;
  justify-items: center;
  gap: 1rem;
  align-items: end;
}

.current-time,
.song-duration {
  font-size: 60%;
}

.footer-other-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer-other-controls i {
  font-size: 100%;
  cursor: pointer;
}


/* --icons-- */

.play-icon-effect {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(100%, 150%, 150%);
  z-index: 10;
  color: white;
}

.icons {
  font-size: 100%;
}

/* all icons present in the page */
.icons:hover {
  color: white;
  cursor: pointer;
}

.fa-heart:hover {
  color: rgb(206, 42, 123) !important;
}


/* -- propertes for blur area behind the play icon-- */

.backdrop {
  visibility: hidden;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  backdrop-filter: blur(.8px);
  transition: ease-in-out .3s;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.backdrop-round {
  visibility: hidden;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  backdrop-filter: blur(.8px);
  transition: ease-in-out .3s;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 50%;
}

.link-latest-items {
  text-decoration: none;
  color: white;
}

.latest-image-container {
  position: relative;
}

.latest-image-container:hover  .backdrop,
.latest-image-container:hover .backdrop-round {
  visibility: visible;
}

.backdrop:hover + .play-icon-effect,
.backdrop-round:hover + .play-icon-effect,
.play-icon-effect:hover{
  visibility: visible;
}

.latest-image { 
  cursor: pointer;
}

.footer-song-details {
  width: 25%;
}


/* --media quaries-- */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .range {
    width: 30vw;
  }

  #volume-control {
    width: 40%;
  }

  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: darkgrey;
    border-radius: 5px;
    height: 3px;
    position: relative;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 30vw;
    -webkit-appearance: none;
    color: aquamarine;
  }

  input[type="range"]::-webkit-slider-thumb {
    overflow: visible;
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    /* cursor: pointer; */
    background: #ffffff;
    box-shadow: -16vw 0 0 15vw #2de179;
    border-radius: 50%;
  }
}


@media screen and (width <= 700px) {
  main {
    width: 95%;
    gap: .5rem;
  }

  .container-leftSide {
    margin-left: 0;
    gap: 2rem;
  }

  .ban-icon {
    display: none !important;
  }

  .play-buttons {
    gap: 1rem;
  }

  .fa-shuffle, .fa-repeat {
    font-size: 60% !important;
  }

  .hide-icons {
    /* display: none !important; */
  }

  .top-bottom-margin{
    margin: .5rem 0rem;
  }

  .musicType-container {
    margin-top: 1rem;
    width: 100%;
  }

  .station {
    width: 100%;
  }

  .station-name {
    font-size: 0.5rem;
    word-break: normal;
  }

  .footer-song-container {
    max-width: 20%;
  }

}

@media screen and (width <= 550px) {
  aside {
    display: none;
  }

  main {
    /* height: 100%; */
  }

  .main-container {
    width: 100%;
  }

  .container-leftSide {
    margin-left: 0;
    gap: 1rem;
  }

  .container-rightSide {
    margin-right: 0;
  }

  .new-release-content {
    grid-template-columns: repeat(2, minmax(10rem, 50%));
  }

  #volume-control {
    display: none !important;
  }

}

@media screen and (width <= 400px) {
  #volume-control {
    display: none !important;
  }
  
}